services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: tu_user
      POSTGRES_PASSWORD: tu_pass
      POSTGRES_DB: transport_chatbot
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U tu_user" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
