# === Python ===
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
env/
.venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyInstaller
*.spec
dist/
build/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
cover/
coverage.xml

# VSCode / IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Misc
*.sqlite3
*.db
